/* Default light mode styles */
body {
  background-color: #fff;
  color: #333;
}

/* Dark mode styles */
body.dark {
  background-color: #121212; /* Dark background for the body */
  color: white; /* White text color for dark mode */
}

/* For buttons in dark mode */
body.dark .btn {
  color: white; /* Button text color white */
}
body.dark .confirm {
  color: black;
}
/* For product cards */
body.dark .product-card {
  background-color: #2b2b2b; /* Dark background for the product card */
}
body.dark .modal-ti{
  color: black;
}
body.dark .product-title,
body.dark .product-price {
  color: white; /* White text for titles and price */
}

/* For primary buttons in dark mode */
body.dark .bg-dark-primary {
  background-color: #333; /* Dark background for buttons */
}

body.dark .bg-light-primary {
  background-color: #ff4500; /* Light background for buttons in dark mode */
}

/* Other elements */
body.dark button {
  color: white; /* White button text */
}

body.dark .product-title:hover {
  color: #ff4500; /* Hover effect for dark mode */
}
